.el-table {
  width: 100%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: visible;
  // padding: 0 20px;

  &__header-wrapper {
    // width: auto;

    table {
      // padding: 0 10px;

      th {
        background: #DEF0FF;
        border: 0;
        font-weight: 500;
        font-size: 13px;
        color: #000000;
        text-transform: capitalize;
      }

      :first-child {
        border-radius: 6px 0 0 6px;
      }

      :nth-last-child(-n+2) {
        border-radius: 0 6px 6px 0
      }
    }
  }

  &__body-wrapper {
    overflow: auto;
    @import './scrollbar';

    .cell {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-break: break-all;
    }

    table {
      // border-spacing: 0 16px;
    }

    tr {
      box-sizing: border-box;

      td {
        padding: 20px 0;
        border-bottom: 3px solid #EBEEF5;
      }

      :first-child {
        border-radius: 6px 0 0 6px;
      }
      // :nth-last-child(-n+1) {
      //   border-radius: 0 6px 6px 0
      // }
      :last-child {
        border-radius: 0 6px 6px 0;
      }
    }
  }

  &__row {
    cursor: pointer;
  }
}
