.percent-up,
.percent-down {
  font-weight: bold;
}
&.index {
  $title-color: #1B2C3D;
  $shadow: 0px 0px 10px rgba(47, 79, 111, 0.2);

  .el-main {
    overflow: visible;
    position: relative;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }

  .chart-visual {
    display: flex;
    flex-flow: row wrap;

    // animation
    .graphic-enter-active, .graphic-leave-active {
      transition: opacity 1.5s;
    }
    .graphic-enter, .graphic-leave-to /* .fade-leave-active до версии 2.1.8 */ {
      opacity: 0;
    }
    // ==========

    .graphic-container {
      padding: 10px;
      height: 400px;
      
      .wrapper {  
        height: 100%;
        width: 100%;  
        display: flex;
        flex-flow: column nowrap;
        box-sizing: border-box;
        padding: 20px;
        border-radius: 10px;
        background-color: #ffffff;
        box-shadow: $shadow;
        
        .title {
          padding-bottom: 15px;
          color: $title-color;
          font-style: normal;
          font-weight: bold;
          font-size: 22px;
          line-height: 21px;
          margin: 0;
        }
      }
    }

    .events {
      
      .wrapper {
        padding: 15px 0 0;
        box-sizing: border-box;

        .title, th.name {
          padding-left: 30px;
        }
      }

      .el-main {
        overflow: overlay;
        @import '../templates/scrollbar';
      }

      .visitor-table {

        .body {

          tr {
            font-size: 14px;
            color: #000000;
    
            th.name {
              text-align: left;
            }
    
            &:nth-child(odd) {
              background-color: #F9FAFC;
            }
          }
        }
      }
    }

    .tickets {
      width: 330px;

      .apexcharts-xaxis-label {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        color: #1B2C3D;
      }
    }
    
    @media (max-width: 1200px) {
      & {
        justify-content: space-between;
      }
      
      .events, .devices, .buyers, .tickets {
        order: 1
      }

      .events {
        width: 100%;
      }

      .sales, .map {
        width: 49.55%;
      }

      .devices, .buyers, .tickets {
        width: 32.7%;
      }
    }
  }
  ._dashboard_stats {
    width: 100%;
    padding-top: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .wrapper {
      padding: 0 10px;
      min-height: 100px;
    }

    // ========================
    
    @media (max-width: 770px) {
      .wrapper {
        min-width: 150px;
        margin-bottom: 10px;
      }
    }

    .top-component {
      display: flex;
      flex-flow: column nowrap;
      height: 100%;
      background-color: #FFFFFF;
      border-radius: 10px;
      box-shadow: $shadow;

      .top {
        padding: 15px 15px 0 15px;
        width: 100%;

        .title {
          margin: 0;
          font-weight: 500;
          font-size: 13px;
          padding-bottom: 15px;
          border-bottom: 0.5px solid #F0F2F6;
          color: $title-color;

          @media (max-width: 1200px) {
            font-size: 10px;
          }
        }
      }

      .center {
        font-size: 24px;
        font-weight: 500;
        color: $title-color;
        padding: 33px 0px 24px 15px;
        width: fit-content; // for correctly tooltip display
        
        @media (max-width: 1200px) {
          font-size: 13px;
          padding: 20px 0px 15px 10px;
        }

        .el-tooltip {
          cursor: pointer;
        }
      }

      .bottom {
        padding: 15px;
        font-size: 15px;
        width: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;

        @media(max-width: 1200px) {
          font-size: 10px;
        }

        .left-hidden, .right-hidden {
          display: none;
          position: absolute;
          width: 50%;
        }
 
        .left, .right {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .left-full, .right-full {
            display: none;
          }
          &:hover {
            cursor: pointer;

            .left-short, .right-short {
              display: none;
            }
            .left-full, .right-full {
              display: inline;
            }
          }
        }

        .left {
          color: #5AB6FE;
        }

        .right {

          &.up {
            color: #4BDCA3;
          }

          &.low {
            color: #FF8989;
          }
        }
      }
    }
  }
}
