.percent-up,
.percent-down {
  font-weight: bold;
}

.el-row::before, .el-row::after {
  display: none;
}

&.index {
  $title-color: #1B2C3D;

  .el-main {
    position: relative;
  }
 
  .el-row {
    width: 100%;
  }

  .chart-visual {
    margin: 0 6px;
    display: flex;
    flex-flow: row wrap;
    .graphic-container {
      padding: 14px;
      min-height: 300px;

      .graphic-outer {
        height: 100%;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(47, 79, 111, 0.2);

        .graphic-inner {
          padding: 30px;

          .el-main {
            overflow: visible;
          }
        }

        .el-tabs__header {
          margin: 0;
        }

        .el-tabs__content {
          height: 100%;
          overflow: visible;
        }

        .container-events-top {
          width: 100%;
          padding: 30px 0 0;
          box-sizing: border-box;
          height: 100%;
          display: flex;
          flex-flow: column;
          .title, th.name {
            padding-left: 30px;
          }
          .el-main {
            @import '../templates/scrollbar';
          }
          .visitor-table {

            .body {
              max-height: 300px;

              @media(min-width: 1390px) {
                max-height: 350px;
              }
        
              tr {
                font-size: 14px;
                color: #000000;
        
                th.name {
                  text-align: left;
                }
        
                &:nth-child(odd) {
                  background-color: #F9FAFC;
                }
              }
            }
          }
        }

        .title {
          padding-bottom: 15px;
          color: $title-color;
          font-style: normal;
          font-weight: bold;
          font-size: 22px;
          line-height: 21px;
        }

        .el-main {
          padding: 0;
          @media (min-width: 1400px) {
            height: 330px;
          }
        }
      }
    }

    .tickets {
      width: 330px;

      .apexcharts-xaxis-label {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        color: #1B2C3D;
      }
    }
    
    @media (max-width: 1200px) {
      & {
        justify-content: space-between;
      }
      .graphic-container {
        margin: 0;
        padding: 0;
      }

      .buyers, .map, .tickets {
        margin-bottom: 10px;
      }
      
      .events, .devices, .buyers, .tickets {
        order: 1
      }
      .events {
        width: 100%;
        margin-bottom: 10px;
      }

      .tickets .graphic-outer .graphic-inner {
        padding-bottom: 10px;
      }

      .sales, .map {
        width: 49.55%;
      }

      .devices, .buyers, .tickets {
        width: 32.7%;
      }
    }
  }
  ._dashboard_stats {
    width: 100%;
    margin: 20px 6px 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    .component-wrapper {
      padding: 0 14px;
      min-height: 100px;
    }

    // ========================
    @media (max-width: 1209px) {
      margin: 6px;

      .component-wrapper {
        padding: 0;
      }

      .component-wrapper:not(:first-child) {
        padding-left: 4px;
      }

      .component-wrapper:not(:last-child) {
        padding-right: 4px;
      }

      .component-wrapper {
        .top .top-title {
          font-size: 10px;
        }

        .center .el-col {
          font-size: 20px;
        }

        .left, .right {
          font-weight: 500;
          font-size: 10px;
          display: flex;
          align-items: center;
        }
      }
    }
    
    @media (max-width: 770px) {
      .component-wrapper {
        min-width: 150px;
        margin-bottom: 10px;
      }
    }

    .top-component {
      display: flex;
      flex-flow: column nowrap;
      height: 100%;
      background-color: #FFFFFF;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(47, 79, 111, 0.2);

      .top {
        padding: 15px 15px 0 15px;
        width: 100%;

        .top-title {
          font-style: normal;
          font-weight: 500;
          font-size: 13px;
          line-height: 15px;
          padding-bottom: 15px;
          border-bottom: 0.5px solid #F0F2F6;
          color: $title-color;
        }
      }

      .center {
        font-size: 24px;
        font-weight: 500;
        color: $title-color;
        line-height: 28px;
        padding: 33px 0px 24px 15px;
        width: fit-content;

        .el-tooltip {
          cursor: pointer;
        }
      }

      .bottom {
        padding: 15px;
        font-size: 1.3rem;
        width: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;

        .left-hidden, .right-hidden {
          display: none;
          position: absolute;
          width: 50%;
        }
 
        .left, .right {
          display: flex;
          align-items: center;
          // width: 50%;
          justify-content: space-between;

          .left-full, .right-full {
            display: none;
          }
          &:hover {
            cursor: pointer;

            .left-short, .right-short {
              display: none;
            }
            .left-full, .right-full {
              display: inline;
            }
          }
        }

        .left {
          // justify-content: flex-start;
          color: #5AB6FE;
        }

        .right {
          // justify-content: flex-end;

          &.up {
            color: #4BDCA3;
          }

          &.low {
            color: #FF8989;
          }
        }
      }
    }
  }
}
